<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css') }} />
	<link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap-icons.css') }} />
</head>
<body>
    <header class="navbar-dark fixed-top header-static bg-mode" data-bs-theme="dark">
		<nav class="navbar navbar-expand-lg" style="background-color: #1d3447">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">FlaskBootcamp</a>
				<button class="navbar-toggler ms-auto icon-md btn btn-light p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<!-- Nav Search START -->
					<div class="nav mt-3 mt-lg-0 flex-nowrap align-items-center px-4 px-lg-0">
						<div class="nav-item w-100">
							<form class="rounded position-relative">
								<input class="form-control ps-5 bg-light text-black" type="search" placeholder="Search..." aria-label="Search">
								<button class="btn bg-transparent px-2 py-0 position-absolute top-50 start-0 translate-middle-y" type="submit">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search text-black" viewBox="0 0 16 16">
  										<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
									</svg>
								</button>
							</form>
						</div>
					</div>
					<!-- Nav Search END -->
					<ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
						<li class="nav-item">
							<a href="#" class="nav-link text-white">
								Home
							</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link text-white">
								Dashboard
							</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link text-white">
								Orders
							</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link text-white">
								Products
							</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Dropdown
							</a>
							<ul class="dropdown-menu" style="background-color: #1d3447">
								<li><a class="dropdown-item" href="#">Action</a></li>
								<li><a class="dropdown-item" href="#">Another action</a></li>
								<li><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item" href="#">Logout</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
	<script src={{ url_for('static', filename='js/bootstrap.bundle.min.js') }} ></script>
</body>
</html>